<!DOCTYPE html>
<html>
  <head>
    <title>Radiatus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link rel="icon" type="image/ico" href="/img/favicon.ico" -->
    <link rel="stylesheet" href="/radiatus/public/bower_components/foundation/css/foundation.css" />
    <link rel='stylesheet' href='/radiatus/public/css/style.css' />
  </head>

  <body>
    <h1>Radiatus</h1>

		<% if (user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/radiatus/auth/account">Account</a> | 
			<a href="/radiatus/auth/logout">Log Out</a>
			</p>
		<% } %>

    <%- body %>
    
    <p>
      IMPORTANT: This is loaded over unencrypted HTTP. <br>
      DO NOT reuse passwords.
    </p>
  </body>
</html>
