<!DOCTYPE html>
<html>
  <head>
    <title>Radiatus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link rel="icon" type="image/ico" href="/img/favicon.ico" -->
    <link rel="stylesheet" href="/radiatus/public/bower_components/foundation/css/foundation.css" />
    <link rel='stylesheet' href='/radiatus/public/css/style.css' />
  </head>

  <body>
    <h1>Radiatus</h1>

    <%- body%>
  </body>
</html>
