
<div class='row'>

  <div class='large-6 columns shadedbox'>
    <h2>Log in</h2>
    <form action='/radiatus/auth/login' method='post'>
      <input type='hidden' name='_csrf' value='<%= csrf %>'>
      <div class='row'>
        <div class='large-6 columns'>
            <input type='text' name='username' placeholder='Username'>
        </div>
      </div>
      <div class='row'>
        <div class='large-6 columns'>
          <input type='password' name='password' placeholder='Password'>
        </div>
      </div>
      <div class='row'>
        <div class='large-6 columns'>
          <button class='submit'>Log in</button>
        </div>
      </div>
    </form>
  </div>

  <div class='large-6 columns shadedbox'>
    <h2>Sign up for a new account</h2>
    <form action='/radiatus/auth/signup' method='post'>
      <input type='hidden' name='_csrf' value='<%= csrf %>'>
      <div class='row'>
        <div class='large-6 columns'>
          <input type='text' placeholder='First name'>
        </div>
        <div class='large-6 columns'>
          <input type='text' placeholder='Last name'>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          <input type='text' name='username' placeholder='Username'>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          <input type='password' name='password' placeholder='Password'>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          <button class='submit'>Sign Up</button>
        </div>
      </div>
    </form>
  </div>

</div>
